name: lint
on: [push, pull_request]
jobs:
  golangci-lint:
    name: lint library
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.29